<html>
<head>
  <title>Movie Lovers</title>
</head>
<body>
  <center>
    <h1>Movie Trivia</h1>
    <form action="/movie_search" method="POST">
       Enter a word in a movie title:  
      <input type="text" name="search term"  placeholder="Give me a word..."> 
      <button type="submit" name="search" value="search">Find</button>
    </form>
  </center>
</body>
</html>